image: oven/bun:latest

stages:
  - build
#  - deploy

# 如果你的站点不是根路径，请取消下面注释
#variables:
#  BASE_URL: "/path/"

cache:
  paths:
    - node_modules/

# 构建 VitePress
build:
  stage: build
  script:
    - bun install
    - bun run build
  artifacts:
    paths:
      - .vitepress/dist
  rules:
    - when: never # 要启用在 'main' 分支推送时运行，请注释掉此行。
    - if: $CI_COMMIT_BRANCH == "main"

# 部署到 GitLab Pages
#pages:
#  stage: deploy
#  script:
#    - mkdir -p public
#    - cp -r .vitepress/dist/* public/
#  artifacts:
#    paths:
#      - public
#  rules:
#    - if: $CI_COMMIT_BRANCH == "main"
